dnspython>=2.6.1
tqdm>=4.0.0
requests>=2.20.0
aiohttp>=3.8.0
litellm<=1.83.7
python-dotenv
playwright
imagehash
Pillow>=1.0.0
pyyaml
dnstwist
pytest
pytest-asyncio
pandas>=2.0.0
python-Levenshtein
shodan
stix2>=3.0.0