dnspython>=2.6.1
tqdm>=4.67.3
requests>=2.20.0
PySocks>=1.7.0
aiohttp>=3.13.5
litellm<=1.98.0
python-dotenv
playwright
imagehash
Pillow>=12.2.0
pyyaml
dnstwist
pytest
pytest-asyncio
python-Levenshtein
shodan
stix2>=3.0.2